<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <div *ngIf="SHOP">
      <ion-title>{{SHOP.SHOP_NAME | uppercase}}</ion-title>
    </div>
    <ion-buttons end>
      <button ion-button (click)="onCart()"><ion-icon class="icon-big" name="md-cart">{{COUNT}}</ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let item of SHOP_ITEMS; let i = index" (click)="selectITEM(i)">
    <div class="div-img">
      <img src="{{item.ITEM_IMAGES[0]}}" alt="">
    </div>
    <div class="info"></div>
    <div class="name_local">{{item.ITEM_NAME_LOCAL}}</div>
    <div class="name_en">{{item.ITEM_NAME_EN}}</div>
    <div class="price">{{item.ITEM_PRICE}} {{SHOP.SHOP_CURRENCY}} - {{item.ITEM_SIZE}}</div>
    <div class="count"></div>
    <div class="number">{{SHOP_ITEMS_INDEX[i].count}}</div>
  </ion-card>

  <ion-fab left bottom *ngIf="USER_ID" #fab>
    <button ion-fab color="danger" mini><ion-icon name="md-share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="logo-facebook" color="primary"></ion-icon></button>
      <button ion-fab (click)="go2AddFavorite(fab)"><ion-icon name="heart"  color="danger"></ion-icon></button>
      <button ion-fab (click)="go2MenuItemAdd(fab)"><ion-icon name="md-add" color="primary"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>