page-order-daily-statistic {
    .total-price {
        width: 100%;
        text-align: right;
    }

    .total-price-final {
        width: 100%;
        text-align: right;
        font-weight: bold;
    }
}
