<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
    <ion-title>{{ACTION | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- WHEN USER VIEW ORDER -->
  <div *ngIf="ACTION==='ordering'">
    <ion-card>
      <ion-grid>
        <div *ngIf="AsyncOrder">
          <ion-row style="background-color: lightgrey">
            <ion-col>{{AsyncOrder.ORDER_DATE_CREATE}}</ion-col>
            <ion-col [ngClass]="AsyncOrder.ORDER_STATUS">{{AsyncOrder.ORDER_STATUS}}</ion-col>
          </ion-row>
        </div>
        <ion-row *ngFor="let item of SHOP_ITEMS; let i = index" class="row_main">
          <!-- <ion-col *ngIf="SHOP_ITEMS_INDEX[i].count>0"> -->
          <ion-col *ngIf="item.count>0">
            <ion-row class="name_local">{{item.ITEM_NAME_LOCAL}}</ion-row>
            <ion-row class="name_en">{{item.ITEM_NAME_EN}}</ion-row>
          </ion-col>
          <!-- <ion-col class="adjust" *ngIf="SHOP_ITEMS_INDEX[i].count>0"> -->
          <ion-col class="adjust" *ngIf="item.count>0">
            <ion-row>
              <ion-col class="subtract" (click)="subtract(item, i)">
                <ion-icon name="md-remove"></ion-icon>
              </ion-col>
              <!-- <ion-col class="number" (click)="editCount(item,i)">{{SHOP_ITEMS_INDEX[i].count}}</ion-col> -->
              <ion-col class="number" (click)="editCount(item,i)">{{item.count}}</ion-col>
              <ion-col class="add" (click)="add(item, i)">
                <ion-icon name="md-add"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <div padding>
      <button block ion-button clear (click)="selectTable()"><span *ngIf="!TABLE" padding-right><ion-icon name="md-arrow-forward"></ion-icon></span>TABLE<span *ngIf="TABLE">: - {{TABLE}}</span></button>

      <!-- <input type="text" [(ngModel)]="ORDER.ORDER_NOTES" name="ORDER_NOTES" (keyup)="onKeyUp()"> -->
      <!-- <ion-textarea placeholder="Add note here" [(ngModel)]="NOTES" name="NOTES" (keyup)="onKeyUp()">

      </ion-textarea> -->
      <div *ngIf="AsyncOrder">
        NOTE:
        <br>
        <span *ngIf="!isNoteEdited">
            <textarea cols="35" rows="4"  (click)="editNote()">{{AsyncOrder.ORDER_NOTES}}</textarea>
        </span>
        <span *ngIf="isNoteEdited">
            <textarea name="" id="" cols="35" rows="4" (keyup)="onKeyUp()" [(ngModel)]="NOTES" name="NOTES" placeholder="{{AsyncOrder.ORDER_NOTES}}"></textarea>
        </span>

      </div>

    </div>

    <ion-grid>
      <ion-row>
        <div *ngIf="isOrderNEW">
          <ion-col>
            <button ion-button color="primary" (click)="createORDER()" [disabled]="!isOrderNEW">Send Order</button>
          </ion-col>
          <ion-col>
            <button ion-button color="secondary" (click)="cancel()" [disabled]="!isOrderNEW">Cancel</button>
          </ion-col>
        </div>
        <div *ngIf="!isOrderNEW">
          <ion-col>
            <button ion-button color="primary" (click)="updateOrder()" [disabled]="!isOrderUPDATE">Update Order</button>
          </ion-col>
          <ion-col>
            <button ion-button color="secondary" (click)="cancel()" [disabled]="!isOrderUPDATE">Cancel</button>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <!-- WHEN USER CHECK BILL -->

  <div *ngIf="ACTION==='billing' && !isOrderNEW">
    <ion-grid>
      <div *ngFor="let item of SHOP_ITEMS; let i = index">
        <ion-row class="row_main" *ngIf="item.count>0">
          <ion-col col-7>
            <ion-row class="name_local" *ngIf="item !='undefined'">{{item.ITEM_NAME_LOCAL}}</ion-row>
          </ion-col>
          <ion-col col-2>
            <ion-row>
              <div class="total-price">{{item.count}}<span style="font-size:10px"> x{{item.ITEM_PRICE}}</span></div>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <div class="total-price">{{item.count*item.ITEM_PRICE}}</div>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col col-7>
          <ion-row></ion-row>
        </ion-col>
        <ion-col col-2>
          <ion-row>
            <div class="total-price">Total</div>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <div class="total-price">{{TOTAL}}</div>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="ACTION==='billing' && !isOrderNEW">
        <ion-col>
          <button ion-button color="primary" (click)="checkBill()">Check Bill</button>
        </ion-col>
        <ion-col>
          <button ion-button color="danger" (click)="cancel()">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>