<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Active Orders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="SHOPS.length>0">
      <ion-item *ngFor="let SHOP of SHOPS"  (click)="go2Shop(SHOP)">
          <ion-thumbnail item-start *ngIf="SHOP.SHOP_IMAGES">
            <img src="{{SHOP.SHOP_IMAGES[0]}}">
          </ion-thumbnail>
          <h2>{{SHOP.SHOP_NAME}}</h2>
          <p>{{SHOP.SHOP_KIND}}</p>
          <ion-note item-end>...</ion-note>
        </ion-item>
  </div>
  <div *ngIf="!SHOPS.length>0">
    <p>You dont have any active ORDERS now</p>
  </div>

</ion-content>