<ion-header>
  
    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="closeModal()">Cancel</button>
          </ion-buttons>
      <ion-title>Select a Photo</ion-title>
      
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  
  
    <ion-item *ngFor="let image of images; let i = index">
      <div *ngIf="image.THUM_URL">
          <img class="img" src="{{image.THUM_URL}}" alt="" (click)="selectPhoto(image)" onError="this.src='../../assets/imgs/imagenotavailable.png';">
      </div>
      <div *ngIf="!image.THUM_URL">
          <img class="img" src="{{image.IMG_URL}}" alt="" (click)="selectPhoto(image)" onError="this.src='../../assets/imgs/imagenotavailable.png';">
      </div>
      <p>{{image.IMG_KEYWORD}}</p>
    </ion-item>
  </ion-content>