<ion-header>

  <ion-navbar>
    <ion-title>Sample</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addNew()"><ion-icon name="add"></ion-icon>New</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="toAddNew">
    <img src="{{IMAGE.IMG_URL}}" alt="{{NOT_IMAGE}}" onError="this.src='../../assets/imgs/imagenotavailable.png';">
    <div>
      URL:
      <input class="input" type="text" [(ngModel)]="IMAGE.IMG_URL" name="URL" text-wrap>
    </div>
    <div>
      NAME:
      <input class="input" type="text" [(ngModel)]="IMAGE.IMG_KEYWORD" name="NAME">
    </div>
    <button ion-button block (click)="onCreate()">Create</button>
  </div>

  <hr>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <hr>
  <ion-item *ngFor="let image of IMAGES; let i = index">
    <img src="{{image.data.IMG_URL}}" alt=""  (click)="editImage(image, i)" onError="this.src='../../assets/imgs/imagenotavailable.png';">
    <p>{{image.data.IMG_KEYWORD}}</p>

    <div *ngIf="image.VISIBLE">
        <div>
          URL:
          <input class="input" type="text" [(ngModel)]="IMAGE.IMG_URL" name="URL" text-wrap>
        </div>
        <div>
          NAME:
          <input class="input" type="text" [(ngModel)]="IMAGE.IMG_KEYWORD" name="IMG_KEYWORD">
        </div>
        <ion-grid>
          <ion-row>
            <ion-col>
                <button ion-button block color="secondary" (click)="onUpdate(image)">Update</button>
            </ion-col>
            <ion-col>
                <button ion-button block color="danger" (click)="onUpdate(image)" disabled>Delete</button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        
      </div>
  </ion-item>

</ion-content>