
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Preview</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <div *ngIf="SHOP_IMAGES">
      <ion-slides pager>
        <ion-slide *ngFor="let SHOP_IMAGE of SHOP_IMAGES">
          <img src="{{SHOP_IMAGE}}" alt="">
        </ion-slide>
      </ion-slides>
    </div>
    <div padding *ngIf="!SHOP_IMAGES" text-center><ion-icon name="md-images" style="font-size: 5em"></ion-icon></div>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-icon name="md-restaurant" item-start></ion-icon>
      {{SHOP.SHOP_NAME}}
    </ion-item>
    <ion-item>
      <ion-icon name="ios-call-outline" item-start></ion-icon>
      {{SHOP.SHOP_PHONE}}
    </ion-item>
    <ion-item>
      <ion-icon name="md-apps" item-start></ion-icon>
      {{SHOP.SHOP_KIND}}
    </ion-item>
    <ion-item>
      <ion-icon name="logo-usd" item-start></ion-icon>
      {{SHOP.SHOP_CURRENCY}}
    </ion-item>
    <ion-item>
      <ion-icon name="ios-home-outline" item-start></ion-icon>
      {{SHOP.SHOP_ADDRESS}}
    </ion-item>
  </ion-list>
  <ion-card>
    <div #mapreview id="mapreview"></div>
  </ion-card>
  <button ion-button block (click)="createShop()" [disabled]="hasPosted">Create</button>
</ion-content>
