page-shop-menu {
     ion-col div {
        // background-color: #f0f5ff;
        border: 1px solid #e6e9ee;
        border-radius: 2px;
        padding: 5px;
        text-align: center;
    }

    p {
        padding: 10px 0 0 10px !important;
        margin: 0;
    }

    ion-card {
        position: relative;
        text-align: center;
    }

    

    .name_local {
        position: absolute;
        bottom: 33px;
        font-size: 1.2em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .name_en {
        font-size: 1.0em;
        font-style: italic;
        position: absolute;
        bottom: 20px;
        width: 100%;
        color: #fff;
    }

    .price {
        font-size: 1.0em;
        position: absolute;
        bottom: 5px;
        width: 100%;
        color: #fff;
    }

    .info {
        background-color: black;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 55px;
        opacity: 0.4;
    }

    .count {
        background-color:gray;
        position: absolute;
        bottom: 65px;
        width: 20%;
        height: 32px;
        opacity: 0.4;
        text-align: center;
          
    }

    .number {
        position: absolute;
        bottom: 65px;
        font-size: 2em;
        width: 20%;
        // font-weight: bold;
        color: #fff;

    }

}
