<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LIST</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    
    <ion-item-sliding *ngFor="let shop of shopList">

      <ion-item (click)="go2Shop(shop)" *ngIf="shop.distance !=='undefined'">
        <ion-thumbnail item-start>
          <div *ngIf="shop.SHOP_IMAGES">
            <img src="{{shop.SHOP_IMAGES[0]}}" alt="" onError="this.src='../../assets/imgs/imagenotavailable.png';">
          </div>
          <div *ngIf="!shop.SHOP_IMAGES">
            <img src="this.src='../../assets/imgs/imagenotavailable.png">
          </div>
        </ion-thumbnail>
        <h2>{{shop.SHOP_NAME}}</h2>
        <p>{{shop.SHOP_ADDRESS}}</p>
        <span item-end><ion-note>{{shop.distance?.disStr}}</ion-note></span>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="go2ShopDetailView(shop)">
          <!-- <ion-icon name="mail"></ion-icon> -->
          More ...
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab left bottom>
    <button ion-fab color="danger" mini (click)="go2Map()"><ion-icon name="md-swap"></ion-icon></button>
  </ion-fab>
</ion-content>