<ion-header>

  <ion-navbar>
    <ion-title>PROFILE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <div>
      <ion-item *ngIf="!hasNewAvatar">
        <ion-avatar (click)="takePhoto()">
          <img src="{{PROFILE.PROFILE_AVATAR_URL}}" alt="" class="img" onError="this.src='../../assets/imgs/imagenotavailable.png';">
        </ion-avatar>
      </ion-item>
      <ion-item *ngIf="hasNewAvatar">
        <ion-avatar (click)="takePhoto()">
          <img src="{{base64Images[0]}}" alt="" class="img" onError="this.src='../../assets/imgs/imagenotavailable.png';">
        </ion-avatar>
      </ion-item>
    </div>
  </div>
  <form #myForm="ngForm">
    <ion-item>
      <ion-icon name="logo-angular" item-left></ion-icon>
      <ion-input required [(ngModel)]="PROFILE.PROFILE_NAME" name="PROFILE_NAME" type="text" id="name" placeholder="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="md-mail" item-left></ion-icon>
      <ion-input required [(ngModel)]="PROFILE.PROFILE_EMAIL" name="PROFILE_EMAIL" type="text" id="name" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-calendar" item-left></ion-icon>
      <ion-input required [(ngModel)]="PROFILE.PROFILE_BIRTHDAY" name="PROFILE_BIRTHDAY" type="date" id="name" placeholder="Birthday"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="md-call" item-left></ion-icon>
      <ion-input required [(ngModel)]="PROFILE.PROFILE_TEL" name="PROFILE_TEL" type="text" id="name" placeholder="Telephone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="md-home" item-left></ion-icon>
      <ion-input required [(ngModel)]="PROFILE.PROFILE_ADDRESS" name="PROFILE_ADDRESS" type="text" id="name" placeholder="Name"></ion-input>
    </ion-item>

  </form>
  <button ion-button block (click)="onUpdateProfile(myForm)" [disabled]="!myForm.valid">Update</button>
</ion-content>