page-profile {
    img.img {
        width: 120px;
        height: 120px;
        border-radius: 50%; 
        margin: auto;
    }

    ion-avatar {
        align-content: center;
    }

    ion-input .ng-invalid { 
        border-left: 2px solid red;
    }
}
