<ion-header>

  <ion-navbar>
    <ion-title>{{ACTION | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <ion-item>
    <div text-center>
      <ion-icon name="ios-camera-outline" (click)="takePhoto()"></ion-icon>
    </div>
  </ion-item>
  <p>WxH: 750x750</p>
  <div *ngIf="IMAGE">
    <div>
      <img src="{{IMAGE.IMG_URL}}" alt="" onError="this.src='../../assets/imgs/imagenotavailable.png';">
    </div>
  </div>
  <p>WxH: 150x150</p>
  <div *ngIf="IMAGE">
    <img src="{{IMAGE.THUM_URL}}" alt="" onError="this.src='../../assets/imgs/imagenotavailable.png';">
  </div>
  <p>Key words:</p>
  <div>
    <ion-input type="text" [(ngModel)]="IMAGE.IMG_KEYWORD" name="IMG_KEYWORD" placeholder="Enter some keyworks for seaching purpose"></ion-input>
  </div>
  <ion-grid>
    <ion-row *ngIf="isNEW">
      <ion-col>
        <button ion-button block color="danger" (click)="doCancel()">Cancel</button>
      </ion-col>
      <ion-col>
        <button ion-button block color="secondary" (click)="startUploadNew()" [disabled]="!isUpdatedDone">OK</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isNEW">
      <ion-col>
        <button ion-button block color="danger" (click)="doCancel()">Cancel</button>
      </ion-col>
      <ion-col>
        <button ion-button block color="secondary" (click)="startUploadUpdate()" [disabled]="!isUpdatedDone">Update</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <input type="file" (change)="takePictureAndResizeByBrowser($event)" hidden accept="image/*" id="inputFile">
</ion-content>