<ion-header>

  <ion-navbar>
    <ion-title>INFORMATION</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="SHOP">
    <ion-card>
      <div>
        <ion-slides pager>
          <ion-slide *ngFor="let SHOP_IMAGE of SHOP.SHOP_IMAGES; let i = index">
            <img src="{{SHOP_IMAGE}}" alt="" (click)="clickImage(SHOP_IMAGE, i)">
          </ion-slide>
        </ion-slides>
      </div>
      <div padding *ngIf="!SHOP.SHOP_IMAGES" text-center>
        <ion-icon name="md-images" style="font-size: 5em"></ion-icon>
      </div>
    </ion-card>

    <form #myForm="ngForm" autocomplete="off" novalidate id="myForm">
      <ion-list>
        <ion-item>
          <ion-icon name="md-restaurant" item-start></ion-icon>
          <input type="text" [(ngModel)]="SHOP.SHOP_NAME" name="SHOP_NAME" required>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-call-outline" item-start></ion-icon>
          <input type="text" [(ngModel)]="SHOP.SHOP_PHONE" name="SHOP_PHONE" required>
        </ion-item>
        <ion-item>
          <ion-icon name="md-apps" item-start></ion-icon>
          <ion-select required [(ngModel)]="SHOP.SHOP_KIND" name="SHOP_KIND" placeholder="Choose kind of shop">
            <ion-option value="cafe" selected="true">Cafe</ion-option>
            <ion-option value="restaurant">Restaurant</ion-option>
            <ion-option value="takeaway">Take Away</ion-option>
            <ion-option value="homemade">Home made</ion-option>
            <ion-option value="other">Other</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-usd" item-start></ion-icon>
          <input type="text" [(ngModel)]="SHOP.SHOP_CURRENCY" name="SHOP_CURRENCY" required>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-home-outline" item-start></ion-icon>
          <input type="text" [(ngModel)]="SHOP.SHOP_ADDRESS" name="SHOP_ADDRESS" required>
        </ion-item>
        <ion-item (click)="updateLocation()">
          <ion-icon name="ios-locate-outline" item-start></ion-icon>
          <!-- <input type="text" [(ngModel)]="SHOP.SHOP_LOCATION" name="SHOP_LOCATION" required> -->
          <p>Latitute: {{SHOP.SHOP_LOCATION.lat}}</p>
          <p>Longitute: {{SHOP.SHOP_LOCATION.lng}}</p>
        </ion-item>

      </ion-list>
      <div>
        <span *ngFor="let table of TABLES; let i = index">
          <button ion-button (click)="editTables(table, i)">
            {{table}}
          </button>
        </span>
      </div>

      <button ion-button block (click)="update()" [disabled]="!myForm.valid">Update</button>
    </form>



  </div>
  <input type="file" (change)="takePictureAndResizeByBrowser($event)" hidden accept="image/*" id="inputFile" multiple>
</ion-content>