<ion-header>

  <ion-navbar>
    <ion-title>INFORMATION</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="SHOP">
    <ion-card>
      <!-- <div>
        <ion-slides pager>
          <ion-slide *ngFor="let SHOP_IMAGE of SHOP.SHOP_IMAGES; let i = index">
            <img src="{{SHOP_IMAGE}}" alt="" (click)="clickImage(SHOP_IMAGE, i)" onError="this.src='../../assets/imgs/imagenotavailable.png';">
          </ion-slide>
        </ion-slides>
      </div> -->
      <div>
        <!-- <img src="{{SHOP.SHOP_IMAGES[0]}}" alt="" (click)="clickImage(SHOP_IMAGE, i)" onError="this.src='../../assets/imgs/imagenotavailable.png';"> -->
        <img *ngIf="SHOP.SHOP_IMAGES !=null"  src="{{SHOP.SHOP_IMAGES[0]}}" alt="" (click)="takePhotos()" onError="this.src='../../assets/imgs/imagenotavailable.png';">
      </div>
      <div padding *ngIf="!SHOP.SHOP_IMAGES" text-center>
        <ion-icon name="md-images" style="font-size: 5em" (click)="takePhotos()"></ion-icon>
      </div>
    </ion-card>

    <form #myForm="ngForm" autocomplete="off" novalidate id="myForm">
      <ion-list>
        <ion-item>
          <ion-icon name="md-restaurant" item-start></ion-icon>
          <input type="text" [(ngModel)]="SHOP.SHOP_NAME" name="SHOP_NAME" required>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-call-outline" item-start></ion-icon>
          <input type="text" [(ngModel)]="SHOP.SHOP_PHONE" name="SHOP_PHONE" required>
        </ion-item>
        <ion-item>
          <ion-icon name="md-apps" item-start></ion-icon>
          <ion-select required [(ngModel)]="SHOP.SHOP_KIND" name="SHOP_KIND" placeholder="Choose kind of shop">
            <ion-option value="cafe" selected="true">Cafe</ion-option>
            <ion-option value="restaurant">Restaurant</ion-option>
            <ion-option value="takeaway">Take Away</ion-option>
            <ion-option value="homemade">Home made</ion-option>
            <ion-option value="other">Other</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-usd" item-start></ion-icon>
          <input type="text" [(ngModel)]="SHOP.SHOP_CURRENCY" name="SHOP_CURRENCY" required>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-home-outline" item-start></ion-icon>
          <input type="text" [(ngModel)]="SHOP.SHOP_ADDRESS" name="SHOP_ADDRESS" required>
        </ion-item>
        <ion-item (click)="updateLocation()">
          <ion-icon name="ios-locate-outline" item-start></ion-icon>
          <!-- <input type="text" [(ngModel)]="SHOP.SHOP_LOCATION" name="SHOP_LOCATION" required> -->
          <p>Latitute: {{SHOP.SHOP_LOCATION.lat}}</p>
          <p>Longitute: {{SHOP.SHOP_LOCATION.lng}}</p>
        </ion-item>

      </ion-list>
      <div>
        TABLES:
        <br>
        <span *ngFor="let table of SHOP.SHOP_TABLES; let i = index">
          <button ion-button (click)="editTables(table, i)" small>
            {{table}}
          </button>
        </span>
      </div>
      <br>
      <div>
        CATEGORIES:
        <br>
        <div *ngIf="SHOP.SHOP_CATEGORIES">
          <span *ngFor="let cat of SHOP.SHOP_CATEGORIES; let i = index">
            <button ion-button (click)="editCategories(cat, i)" small color="secondary">
              {{cat}}
            </button>
          </span>
        </div>
        <div *ngIf="!SHOP.SHOP_CATEGORIES">
          No categories. <span (click)="addCategory()" style="color: red">Add New</span>
        </div>
      </div>
      <br>
      <ion-list>
        <ion-item>
          <ion-icon name="md-bicycle" item-start></ion-icon>
          <ion-label>Parking free for Motobike</ion-label>
          <ion-toggle [(ngModel)]="SHOP.SHOP_isMOTO_PARK_FREE" name="SHOP_isMOTO_PARK_FREE"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-icon name="md-car" item-start></ion-icon>
          <ion-label>Parking free for Car</ion-label>
          <ion-toggle [(ngModel)]="SHOP.SHOP_isCAR_PARK_FREE" name="SHOP_isCAR_PARK_FREE"></ion-toggle>
        </ion-item>
        <!-- <ion-item>
          <ion-icon name="md-bicycle" item-start></ion-icon>
          <ion-label>Parking free for Motobike</ion-label>
          <ion-toggle [(ngModel)]="SHOP.SHOP_isMOTO_PARK_FREE" name="SHOP_isMOTO_PARK_FREE"></ion-toggle>
        </ion-item> -->
        <ion-item>
          <ion-icon name="md-card" item-start></ion-icon>
          <ion-label>Credit/ Debit accepted</ion-label>
          <ion-toggle [(ngModel)]="SHOP.SHOP_isCREDIT" name="SHOP_isCREDIT"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-icon name="md-trophy" item-start></ion-icon>
          <ion-label>Membership available</ion-label>
          <ion-toggle [(ngModel)]="SHOP.SHOP_isMEMBERSHIP" name="SHOP_isMEMBERSHIP"></ion-toggle>
        </ion-item>
      </ion-list>


      <button ion-button block (click)="update()" [disabled]="!myForm.valid">Update</button>
    </form>



  </div>
  <!-- <input type="file" (change)="takePictureAndResizeByBrowser($event)" hidden accept="image/*" id="inputFile" multiple> -->
</ion-content>