page-shop-add-new {
    ion-icon{
        font-size: 2.5em;
    }

    ion-input.ng-invalid { 
        border-bottom: 2px solid red;
    }

    .select-ios .select-placeholder {
        color: #383636;
        width: 100%;
      }

    // .selection {
    //     width: 200px;
    // }
}
