
<ion-header>

  <ion-navbar>
    <ion-title>FAVORITES</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item *ngFor="let shop of myFavoriteShops" (click)="go2Shop(shop)">
      <ion-thumbnail item-start *ngIf="shop.SHOP_IMAGES">
        <img src="{{shop.SHOP_IMAGES[0]}}" onError="this.src='../../assets/imgs/imagenotavailable.png';">
      </ion-thumbnail>
      <h2>{{shop.SHOP_NAME}}</h2>
      <p>{{shop.SHOP_KIND}}</p>
       <ion-note item-end>{{shop.distance.disStr}}</ion-note> 
    </ion-item>
  </ion-list>

</ion-content>
