page-search {

    ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    bottom: 34px;
    font-size: 1.3em;
    width: 100%;
    // font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #fff;
  }

  .card-price {
    font-size: 0.8em;
    position: absolute;
    bottom: 4px;
    width: 100%;
    color: #fff;
  }

  .info {
        background-color: black;
        position: absolute;
        bottom: 0%;
        width: 100%;
        height: 55px;
        opacity: 0.4;
    }


}
