<!--
  Generated template for the Angularfire2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>angularfire2</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- <div *ngFor="let item of items | async">
    {{item | json}}
  </div> -->

  <div *ngFor="let item of data ">
    {{item.name}}

  </div>
  <p>SINGLE property STYLE and  or single CLASS </p>
  <div [style.color]="'orange'">This is style properties: color orange</div>

  <div [className]="'blue'">This is className format: color blue</div>

  <p>MULTI properties of style</p>
  <div [ngStyle]="{'color': COLOR_NAME, 'background-color': 'black', 'font-size': SIZE_Str}">using ngStyle</div>
  <input type="text" [(ngModel)]="COLOR_NAME">
  <button ion-button (click)="decrease()">-</button><button ion-button (click)="increase()">+</button>

  <p>MULTI class:</p>
  <div [ngClass]="{'SENDING': true,'ACCEPTED': false,'DELIVERED': false, 'PAID': false,'CLOSE': false,'CANCEL': false, 'UPDATED': false }">SENDING</div>
  <div [ngClass]="{'SENDING': false,'ACCEPTED': true,'DELIVERED': false, 'PAID': false,'CLOSE': false,'CANCEL': false, 'UPDATED': false }">ACCEPTED</div>
  <div [ngClass]="{'SENDING': true,'ACCEPTED': false,'DELIVERED': false, 'PAID': false,'CLOSE': false,'CANCEL': false, 'UPDATED': false }">SENDING</div>
  <div [ngClass]="{'SENDING': true,'ACCEPTED': false,'DELIVERED': false, 'PAID': false,'CLOSE': false,'CANCEL': false, 'UPDATED': false }">SENDING</div>
  <div [ngClass]="{'SENDING': true,'ACCEPTED': false,'DELIVERED': false, 'PAID': false,'CLOSE': false,'CANCEL': false, 'UPDATED': false }">SENDING</div>
  <hr>
  <div [ngClass]="{'SENDING': ACTION === 'SENDING','ACCEPTED': ACTION === 'ACCEPTED','DELIVERED': ACTION === 'DELIVERED','PAID': ACTION === 'PAID','CLOSE': ACTION === 'CLOSE','CANCEL': ACTION === 'CANCEL','UPDATED': ACTION === 'UPDATED'}">{{ACTION}}</div>

  <input type="text" [(ngModel)]="ACTION">
</ion-content>
