<ion-header>

  <ion-navbar>
    <ion-title>ORDER DETAIL</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngIf="SENDER==='USER'">
    <img src="{{SHOP?.SHOP_IMAGES[0]}}" alt="" onError="this.src='../../assets/imgs/imagenotavailable.png';">
    <h3>{{SHOP?.SHOP_NAME}}</h3>
    <p>{{SHOP?.SHOP_ADDRESS}}</p>
    <p>{{SHOP?.SHOP_PHONE}}</p>
  </ion-card>
 
  <ion-card>
    <ion-grid>
      <ion-row style="background-color: lightgrey">
        <ion-col>{{ORDER?.ORDER_DATE_CREATE}}</ion-col>
        <ion-col>{{ORDER?.ORDER_STATUS}}</ion-col>
      </ion-row>
      <ion-row *ngFor="let orderz of ORDER?.ORDER_LIST_NEW; let i = index" class="row_main">
        <ion-col col-7>
          <ion-row class="name_local">{{orderz.item.ITEM_NAME_LOCAL}}</ion-row>
          <ion-row class="name_local">{{orderz.item.ITEM_NAME_EN}}</ion-row>
        </ion-col>
        <ion-col col-2>
          <ion-row>{{orderz.amount}}x {{orderz.item.ITEM_PRICE}}</ion-row>
        </ion-col>
        <ion-col>
          <ion-row><div class="total-price">{{orderz.amount*orderz.item.ITEM_PRICE}}</div></ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card> 


 
  <div style="padding: 12px; text-align: center" *ngIf="SENDER ==='ADMIN'">
    <button ion-button color="primary" (click)="setOrderStatus('ACCEPTED')" [disabled]="isDisabled">ACCEPTED</button>
    <button ion-button color="dark"  (click)="setOrderStatus('DELIVERED')" [disabled]="isDisabled">DELIVERED</button>
    <button ion-button color="secondary"  (click)="setOrderStatus('PAID')" [disabled]="isDisabled">PAID</button>
    <button ion-button color="light"  (click)="setOrderStatus('CLOSED')" [disabled]="isDisabled">CLOSED</button>
    <button ion-button color="danger"  (click)="setOrderDeleted()" [disabled]="isDisabled">DELETED</button>
  </div> 
  <hr>
  
  <div *ngIf="SENDER ==='ADMIN'">
    <p>TABLE: {{ORDER?.ORDER_TABLE}}</p>
    <p>USER: {{ORDER?.ORDER_USER_ID}}</p>
    <button ion-button block (click)="editOrder()">Edit Order</button>
  </div>


</ion-content>