<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>+Issue</ion-title>
    <ion-buttons end>
      <span *ngIf="n==1"><button ion-button (click)="doOptions()">All</button></span>
      <span *ngIf="n==2"><button ion-button (click)="doOptions()">Opened</button></span>
      <span *ngIf="n==3"><button ion-button (click)="doOptions()">Rejected</button></span>
      <span *ngIf="n==4"><button ion-button (click)="doOptions()">Closed</button></span>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #myForm="ngForm" autocomplete="off" novalidate id="myForm">

    <ion-item>
      <ion-icon name="logo-angular" item-left></ion-icon>
      <ion-input required [(ngModel)]="issue.ISSUE_TITLE" name="ISSUE_TITLE" type="text" id="name" placeholder="Title"></ion-input>
    </ion-item>


    <ion-item>
      <ion-icon name="info" item-left></ion-icon>
      <ion-input required [(ngModel)]="issue.ISSUE_DES" name="ISSUE_DES" type="text" id="name" placeholder="Description in detail"></ion-input>
    </ion-item>
  </form>
  <button *ngIf="!isUpdate" ion-button block (click)="createIssue()">Create</button>
  <button *ngIf="isUpdate" ion-button block color="secondary" (click)="updateIssue()">Update</button>
  <hr>
  <div *ngIf="n==1">
    <div *ngFor="let item of issuesData">
      <ion-card (click)="setIssueStatus(item)">
        <h4>{{item.data.ISSUE_TITLE}} - <span [ngClass]="item.data.ISSUE_STATE"> {{item.data.ISSUE_STATE}}</span></h4>
        <p>{{item.data.ISSUE_DES}}</p>
      </ion-card>
    </div>
  </div>
  <div *ngIf="n>1">
    <div *ngIf="n==2">
      <div *ngFor="let item of issuesData">
        <ion-card *ngIf="item.data.ISSUE_STATE ==='Open'" (click)="setIssueStatus(item)">
          <h4>{{item.data.ISSUE_TITLE}} - <span [ngClass]="item.data.ISSUE_STATE"> {{item.data.ISSUE_STATE}}</span></h4>
          <p>{{item.data.ISSUE_DES}}</p>
        </ion-card>
      </div>
    </div>
    <div *ngIf="n==3">
      <div *ngFor="let item of issuesData">
        <ion-card *ngIf="item.data.ISSUE_STATE ==='Rejected'" (click)="setIssueStatus(item)">
          <h4>{{item.data.ISSUE_TITLE}} - <span [ngClass]="item.data.ISSUE_STATE"> {{item.data.ISSUE_STATE}}</span></h4>
          <p>{{item.data.ISSUE_DES}}</p>
        </ion-card>
      </div>
    </div>
    <div *ngIf="n==4">
      <div *ngFor="let item of issuesData">
        <ion-card *ngIf="item.data.ISSUE_STATE ==='Closed'" (click)="setIssueStatus(item)">
          <h4>{{item.data.ISSUE_TITLE}} - <span [ngClass]="item.data.ISSUE_STATE"> {{item.data.ISSUE_STATE}}</span></h4>
          <p>{{item.data.ISSUE_DES}}</p>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>