<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div *ngIf="shop">
      <ion-title>{{shop.SHOP_NAME | uppercase}}</ion-title>
    </div>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let item of SHOP_ITEMS">
    <div>
      <img src="{{item.ITEM_IMAGES[0]}}" alt="">
    </div>
    <div class="info"></div>
    <div class="name_local">{{item.ITEM_NAME_LOCAL}}</div>
    <div class="name_en">{{item.ITEM_NAME_EN}}</div>
    <div class="price">{{item.ITEM_PRICE}} {{shop.SHOP_CURRENCY}}</div>
    <div class="count"> 
    </div>
  </ion-card>

  <ion-fab left bottom *ngIf="USER_ID">
    <button ion-fab color="danger" mini><ion-icon name="md-share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="logo-facebook" color="primary"></ion-icon></button> 
      <button ion-fab (click)="go2AddFavorite()"><ion-icon name="heart"  color="danger"></ion-icon></button>
      <button ion-fab (click)="go2MenuItemAdd()"><ion-icon name="md-add" color="primary"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
