page-add-items {
    ion-row{
        background-color: lightgray;
        margin-top: 1px;
    }
    .show{
        position: fixed;
        top: 45px;
    }

    .list{
        position: absolute;
        top: 170px;
    }
    

}
