<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="setPhotos()">Close</button>
    </ion-buttons>
    <ion-title>Take Photos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <div text-center>
      <ion-icon name="ios-camera-outline" (click)="takePhoto()"></ion-icon>
    </div>
  </ion-item>

  <div *ngIf="base64Images">
    <div *ngFor="let base64Image of base64Images; let i = index">
      <img src="{{base64Image}}" alt="" (click)="selectPhoto(i)">
    </div>
  </div>

  <input type="file" (change)="takePictureAndResizeByBrowser($event)" hidden accept="image/*" id="inputFile" multiple>
</ion-content>