<ion-header>

  <ion-navbar>
    <ion-title>update-item</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div *ngIf="SHOP_ITEM">
    <ion-card>
      <div>
        <ion-slides pager>
          <ion-slide *ngFor="let ITEM_IMAGE of SHOP_ITEM.ITEM_IMAGES; let i = index">
            <img src="{{ITEM_IMAGE}}" alt="" (click)="clickImage()" onError="this.src='../../assets/imgs/imagenotavailable.png';">
          </ion-slide>
        </ion-slides>
      </div>
      <div padding *ngIf="!SHOP_ITEM.ITEM_IMAGES" text-center>
        <ion-icon name="md-images" style="font-size: 5em" (click)="clickImage()"></ion-icon>
      </div>
    </ion-card>
    <form #myForm="ngForm" autocomplete="off" novalidate id="myForm">

      <ion-item>
        <ion-icon name="logo-angular" item-left></ion-icon>
        <ion-input required [(ngModel)]="SHOP_ITEM.ITEM_NAME_LOCAL" name="NAME_LOCAL" type="text" id="name" placeholder="Enter the local name of recipe"></ion-input>
      </ion-item>


      <ion-item>
        <ion-icon name="logo-angular" item-left></ion-icon>
        <ion-input required [(ngModel)]="SHOP_ITEM.ITEM_NAME_EN" name="NAME_EN" type="text" id="name" placeholder="Enter the english name of recipe"></ion-input>
      </ion-item>


      <ion-item>
        <ion-icon name="logo-usd" item-left></ion-icon>
        <ion-input required [(ngModel)]="SHOP_ITEM.ITEM_PRICE" name="PRICE" type="number" id="name" placeholder="Enter the price of recipe"></ion-input>
      </ion-item>


      <ion-item>
        <ion-icon name="md-restaurant" item-left></ion-icon>
        <ion-input required [(ngModel)]="SHOP_ITEM.ITEM_SIZE" name="SIZE" type="text" id="name" placeholder="Enter the size of recipe"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-icon name="ios-eye" item-start></ion-icon>
          <ion-label>Item is Visible?</ion-label>
          <ion-toggle [(ngModel)]="SHOP_ITEM.ITEM_VISIBLE" name="ITEM_VISIBLE"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-basket" item-start></ion-icon>
          <ion-label>Item on Sale?</ion-label>
          <ion-toggle color="secondary" [(ngModel)]="SHOP_ITEM.ITEM_ON_SALE" name="ITEM_ON_SALE"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Category:</ion-label>
          <ion-select [(ngModel)]="SHOP_ITEM.ITEM_CATEGORY" name="ITEM_CATEGORY" value="SHOP_ITEM.ITEM_CATEGORY">
            <span *ngFor="let cat of CATEGORIES">
              <ion-option value="{{cat}}">{{cat}}</ion-option>
            </span>
          </ion-select>
        </ion-item>
      </ion-list>
      <button ion-button block (click)="update()" [disabled]="!myForm.valid">Update</button>
      <button ion-button block color="danger" (click)="cancel()">Cancel</button>
      <!-- <button ion-button block (click)="deleteImages()">Delete Images</button> -->
    </form>
  </div>

  <!-- <input type="file" (change)="takePictureAndResizeByBrowser($event)" hidden accept="image/*" id="inputFile"> -->

</ion-content>